[Unit]
Description=Kanata Service
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStartPre=/usr/bin/modprobe uinput
ExecStart=/usr/bin/kanata
Restart=no

[Install]
WantedBy=default.target
