[Unit]
Description=Kanata Service
Documentation=https://github.com/jtroo/kanata

[Service]
#ExecStartPre=/sbin/modprobe uinput
Type=simple
ExecStart=/usr/bin/kanata
Restart=no

[Install]
WantedBy=sysinit.target
